body{
width:100%;
margin: 0px;
padding: 0px;
position: relative;
height:1500px;
}
.slide{
  position: relative;
}

/*Responsive Edge to Edge Slider */
/* Author: Pankaj Rai */
.container-fluid.slide{
  padding-left: 0px;
  padding-right: 0px;
}